.board {
  display: grid;
  margin: 0 auto;
  
  width: 90vw;
  aspect-ratio: 1 / 1;
  max-width: 40rem;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--symbol-size);
  border-bottom: var(--board-style);
  border-right: var(--board-style);
}
