.game{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 2em;
}

.turn {
  width: fit-content;
  margin: 0 auto;
  padding: 1em .5em;

  text-align: center;
  font-size: calc(var(--symbol-size)/2.5);
}

.return{
  align-self: flex-end;
  
  border: var(--board-style);
  border-width: .15rem;
  padding: .5rem;

  font-size: calc(var(--symbol-size)/4);
  margin-right: 2em;
 }