.game{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 2em;
}

.turn{
  width: fit-content;
  margin: 0 auto;
  padding: 1em .5em;

  text-align: center;
  font-size: calc(var(--symbol-size)/2.5);
}

.return{
  align-self: flex-end;
  
  border-width: .15rem;
  padding: 1em;

  color: var(--background);
  background-color: var(--color);

  font-size: calc(var(--symbol-size)/4);
  margin-right: 2em;
}

/* Inverted return button */
.return:active{ 
  background-color: var(--color-secondary);
  color: var(--background); 
}