:root{
  --color-secondary: hsl(0, 0%, 50%);
  
  --board-style: 0.2rem dashed var(--color);
  --symbol-size: 2.5rem;

  --history-size: .35rem;
  --history-style: var(--color) double .5rem;
}

@font-face {
  font-family: daydream;
  src: url(../assets/fonts/Daydream.ttf);
}

body {
  margin: 0;
  background: var(--background);
  background-repeat: repeat;
  color: var(--color);
  
  font-family: daydream, monospace;
  word-spacing: .5rem;
  letter-spacing: .1rem;
  user-select: none;
}

.button { 
  text-align: center;
  cursor: pointer;
}
.button:hover{ transform: scale(0.9); }
.button:active{ color: var(--color-secondary); }
.disabled{ color: rgb(57, 57, 57); }

@media screen and (min-width: 550px) {
  :root{
    --symbol-size: 4rem;
    --history-size: .56rem;
  }
}
