@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;700&display=swap');

.tictactoe{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-top: 100px;
    font-family: 'DynaPuff', cursive;
}

.grid-container {
    width: 400px;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    background-color: #d3d3d3;
    overflow: hidden;
}

.grid-item{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item img{
    width: 50%;
    border: 1vh solid #252525;
    border-radius: 50%;
}

.status {
    width: fit-content;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

.status span{
    font-size: 100%;
    font-weight: 900;
    color: #252525;
}

.status:first-child{
    position: absolute;
    margin-top: -80px;
}